.root {
    margin: 1em;

    .content {
        list-style: upper-roman;
    }

    .scroll-up-button {
        left: 0.7em !important;
        top: 5em !important;
    }

    .chapter-core {
        color: #777;
        font-size: 90%;
    }

    .chapters-list {
        display: flex;

        padding: 0 1em;

        margin-top: 1em;
        border-bottom: 1px solid #999999;

        .chapter-column {
            flex: 1 1 30%;
        }

        .chapter-column.sticky {
            position: sticky;
            top: 0;
            align-self: flex-start;
            overflow-y: auto;
            max-height: 50em;
        }

        .react-tabs__tab--selected {
            background-color: #222;
            color: inherit;
        }
    }

    .book-title {
        flex: 1 1 30%;

        padding: 0 1em;
        width: 40%;

        margin-bottom: 2em;

        text-decoration: underline;
        font-size: 150%;
    }

    .menu {
        ul {
            list-style: none;
        }
    }

    a {
        color: #649600;

        &:visited {
            color: #649600;
        }

        &:hover {
            color: lighten(#649600, 10%)
        }
    }
}
