.ariph-color-settings {
  margin: 1em;
  display: flex;
  overflow: hidden;

  legend {
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
  }

  .MuiFormGroup-root {
    display: flex;
    flex-direction: column;

    margin: 1em;
  }

  .MuiRadio-root {
    display: none;
  }

  .Mui-checked~.MuiFormControlLabel-label {
    color: blue;
  }
}

.ariph-color-value {
  position: relative;
  display: inline-block;

  width: 1.2em;
  height: 1.2em;

  left: -1em;

  border-radius: 100%;
  border: 1px solid white;
  background-color: red;
}

.ariph-bgMaster {
  background-color: var(--bgMaster);
}

.ariph-bgSlave {
  background-color: var(--bgSlave);
}

.ariph-fgMaster {
  background-color: var(--fgMaster);
}

.ariph-fgSlave {
  background-color: var(--fgSlave);
}

.ariph-color-option {
  display: flex;
  align-items: center;

  svg {
    visibility: hidden;

    position: relative;
    left: 0.15em;

    cursor: pointer;
  }

  &:hover {
    .ariph-color-value {
      visibility: hidden;
    }

    svg {
      visibility: visible;
    }
  }
}
