.MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  background-color: var(--bgMaster);
  color: var(--fgMaster);
  border: 1px solid var(--bgSlave);

  .Mui-checked~.MuiFormControlLabel-label {
    color: var(--fgSlave);
  }

  legend {
    color: var(--fgMaster);
  }
}

