.prfChapterView {
  .prfChapterLinks {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prfChapterTitle {
    text-align: center;
  }

  .prfEpigraphTitle {
    font-size: 120%;
    margin-bottom: 0.5em;
  }

  .prfEpigraphValue {
    margin-left: 2em;
  }

  .prfEpigraphTitleMark,
  .prfEpigraphValueMark {
    margin-right: 1em;
    vertical-align: text-bottom;
  }
}
