.prf-menu {
  .prf-nav > .prf-nav-wrapper {
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-around;

    .prf-nav-books-dropdown {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .prf-menu-brand {
    display: flex;
    align-items: center;

    svg {
      margin-left: 0.5em;
    }
  }

  .prf-nav {
    justify-content: space-between;
  }
}
