@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.prfMenu {
  .prfNav > .prfNavWrapper {
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      a:last-of-type {
        margin-left: auto
      }
    }

    .prfNavBooksDropdown {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .prfNav {
    justify-content: space-between;
  }
}
