@value prfButton from '../../uikit/Button/Button.module.scss';

.prfMenu {
  display: flex;
  align-items: center;

  .prfLogo {
    padding-left: 0;
    padding-right: 0;

    margin-left: 0;
    margin-right: 2em;

    font-size: 125%;
  }

  :global {
    .prfButton {
      min-width: 2em;
      border: none;
    }
  }
}


