// how to import from bootstrap variables ONCE?
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

.prf-menu {
  .prf-nav > .prf-nav-wrapper {
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      a:last-of-type {
        margin-left: auto
      }
    }

    .prf-nav-books-dropdown {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .prf-nav {
    justify-content: space-between;
  }
}
