@import '../../theme';

.prf-menu {
  .prf-menu-brand {
    display: flex;
    align-items: center;

    svg {
      margin-left: 0.5em;
    }
  }

  .prf-nav {
    justify-content: space-between;

    &.navbar-collapse .navbar-nav .nav-link.active {
      color: var(--bs-secondary);
    }
  }
}
