.prf-loader {
  $size: 80px;
  $width: 4px;
  $color: var(--bs-selection);
  $cycle: 0.5s;

  background-color: rgba(30,30,30,0.2);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .ripple {
    display: inline-block;
    position: relative;
    width: $size;
    height: $size;
  }

  .ripple div {
    position: absolute;
    border: $width solid $color;
    opacity: 1;
    border-radius: 50%;
    animation: ripple $cycle cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  .ripple div:nth-child(2) {
    animation-delay: (calc(#{$cycle} / 2));
  }

  @keyframes ripple {
    0% {
      top: calc(#{$size} / 2);
      left: calc(#{$size} / 2);
      width: 0;
      height: 0;
      opacity: 1;
    }

    100% {
      top: 0;
      left: 0;
      width: $size;
      height: $size;
      opacity: 0;
    }
  }
}
