.prfParagraph {
  margin: 2em 0;

  .prfButterflyWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .prfNotesArrow {
    width: 100%;
    text-align: center;
  }

  .prfParagraphIndex {
    margin-right: 1em;
  }

  .a {
    background-color: var(--bs-active-bg);
    color: var(--bs-active-color);
  }
}
