@import '../../theme';

.prf-paragraph {
  margin: 2em 0;

  .accordion {
    .accordion-item {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
    }

    .accordion-button {
      background-color: var(--bs-card-bg);
    }

    .accordion-button:not(.collapsed) {
      color: var(--bs-secondary);
    }

    .accordion-button.collapsed {
      color: var(--bs-body-color);
    }
  }

  .prf-butterfly-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .prf-notes-arrow {
    width: 100%;
    text-align: center;
  }

  .prf-paragraph-index {
    margin-right: 1em;
  }

  .a {
    background-color: var(--bs-component-active-bg);
    color: var(--bs-component-active-color);
  }

  .prf-notes-link {
    color: var(--bs-secondary);
  }
}
