/* purgecss start ignore */
:global {
  .btn-group-vertical {
    .btn-primary,
    .btn-secondary {
      background-color: var(--bs-body-bg);
      color: var(--bs-body-color);
      border-color: var(--bs-border);
      box-shadow: none;
    }

    .btn-check:focus + .btn-primary,
    .btn-check:active + .btn-primary,
    .btn-check:checked + .btn-primary,
    .btn-check:focus + .btn-primary:focus,
    .btn-check:active + .btn-primary:focus,
    .btn-check:checked + .btn-primary:focus,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary:hover,
    .btn-primary.active,
    .btn-primary.active:focus,
    .show > .btn-primary.dropdown-toggle,
    .show > .btn-primary.dropdown-toggle:focus,
    .btn-check:focus + .btn-secondary,
    .btn-check:active + .btn-secondary,
    .btn-check:checked + .btn-secondary,
    .btn-check:focus + .btn-secondary:focus,
    .btn-check:active + .btn-secondary:focus,
    .btn-check:checked + .btn-secondary:focus,
    .btn-secondary:focus,
    .btn-secondary:active,
    .btn-secondary:hover,
    .btn-secondary.active,
    .btn-secondary.active:focus,
    .show > .btn-secondary.dropdown-toggle,
    .show > .btn-secondary.dropdown-toggle:focus {
      background-color: var(--bs-body-bg-hover);
      color: var(--bs-body-color-hover);
      box-shadow: none;
    }
  }

  .btn-group {
    .btn-check + .btn-primary,
    .btn-primary,
    .btn-check + .btn-secondary,
    .btn-secondary {
      background-color: var(--bs-body-bg);
      color: var(--bs-body-color);
      border-color: var(--bs-border);
      box-shadow: none;
    }

    .btn-check:focus + .btn-primary,
    .btn-check:active + .btn-primary,
    .btn-check:checked + .btn-primary,
    .btn-check:focus + .btn-primary:focus,
    .btn-check:active + .btn-primary:focus,
    .btn-check:checked + .btn-primary:focus,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary:hover,
    .btn-primary.active,
    .btn-primary.active:focus,
    .show > .btn-primary.dropdown-toggle,
    .show > .btn-primary.dropdown-toggle:focus,
    .btn-check:focus + .btn-secondary,
    .btn-check:active + .btn-secondary,
    .btn-check:checked + .btn-secondary,
    .btn-check:focus + .btn-secondary:focus,
    .btn-check:active + .btn-secondary:focus,
    .btn-check:checked + .btn-secondary:focus,
    .btn-secondary:focus,
    .btn-secondary:active,
    .btn-secondary:hover,
    .btn-secondary.active,
    .btn-secondary.active:focus,
    .show > .btn-secondary.dropdown-toggle,
    .show > .btn-secondary.dropdown-toggle:focus {
      background-color: var(--bs-body-bg-hover);
      color: var(--bs-body-color-hover);
    }
  }
}
/* purgecss end ignore */
