/* purgecss start ignore */
:global {
  .dropdown-menu {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-body);

    .dropdown-item {
      color: var(--bs-body-body);

      &.active,
      &:active,
      &:hover,
      &:focus {
        color: var(--bs-active-color-hover);
        background-color: var(--bs-body-bg);
      }
    }
  }

  .navbar {
    a.navbar-brand,
    a.navbar-brand:focus,
    a.navbar-brand:active {
      color: var(--bs-body-body);

      &:hover {
        color: var(--bs-link-hover-color);
      }
    }

    .navbar-nav {
      a.nav-link {
        color: var(--bs-body-color);
        font-size: 125%;

        &.active,
        &:active,
        &:focus {
          color: var(--bs-selection);
        }

        &:hover {
          color: var(--bs-link-hover-color);
        }
      }
    }
  }
}
/* purgecss end ignore */
