// ensure it fits configs/color.ts
:root {
  --bgMaster: #212121;
  --bgSlave: #484848;
  --fgMaster: #bcaaa4;
  --fgSlave: #8bc34a;
}

body {
  background-color: var(--bgMaster);
  color: var(--fgMaster);

  a {
    color: var(--fgSlave);
  }
}

