@import 'accordion';
@import 'buttonGroup';
@import 'card';
@import 'nav-dropdown';
@import 'theme';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s ease;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 0;
  padding: 0;

  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

#root {
  height: 100%;
  width: 100%;
}
