.prfBookList {
  ol {
    list-style-type: none;
  }

  li {
    counter-increment: section;
  }

  li:before {
    content: "Книга " counter(section, decimal);
    font-size: 150%;
  }

  .prfBookListItem {
    a {
      padding-right: 1em;
    }
  }
}
