.prfChatMark {
  margin-right: 1em;
  color: var(--prf-action-button-bg);
}

.prfQnaList {
  list-style: none;
  padding: 0;
}

.prfQna {
  margin: 1.5em 0;
}

.prfQuestion {
  font-size: 110%;
  margin-bottom: 0.5em;
}

.prfAnswer {
  margin-left: 2em;
}

.prfAnswerMark,
.prfQuestionMark {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;

  margin-right: 1em;
  border-radius: 50%;
  line-height: 1.4;

  text-align: center;
  aspect-ratio: 1 / 1;
}

.prfAnswerMark {
  color: var(--prf-success-button-fg);
  border: var(--prf-success-button-border) 1px solid;
}

.prfQuestionMark {
  color: var(--prf-info-button-fg);
  border: var(--prf-info-button-border) 1px solid;
}
