div.prf-about {
  padding-right: 0;
  padding-left: 0;
}

.prf-about {
  .prf-ul {
    list-style: none;
    margin: 0 2em;
    padding: 0;
  }


  .prf-qna {
    .prf-qna-item {
      margin: 1em 0;

      .prf-question {
        font-size: 120%;
        margin-bottom: 0.5em;
      }

      .prf-answer {
        margin-left: 2em;
      }

      .prf-question-mark,
      .prf-answer-mark {
        margin-right: 1em;
        vertical-align: text-bottom;
      }

      .prf-question-mark {
        color: var(--bs-component-active-color);
      }

      .prf-answer-mark {
        color: var(--bs-selection);
      }
    }
  }

  .prf-ol-translations {
    margin-left: 2em;
  }
}
