div.prfAbout {
  padding-right: 0;
  padding-left: 0;
}

.prfAbout {
  .prfUl {
    list-style: none;
    margin: 0 2em;
    padding: 0;
  }

  .prfQna {
    .prfQnaItem {
      margin: 1em 0;

      .prfQuestion {
        font-size: 120%;
        margin-bottom: 0.5em;
      }

      .prfAnswer {
        margin-left: 2em;
      }

      .prfQuestionMark,
      .prfAnswerMark {
        margin-right: 1em;
        vertical-align: text-bottom;
      }

      .prfQuestionMark {
        color: var(--bs-component-active-color);
      }

      .prfAnswerMark {
        color: var(--bs-selection);
      }
    }
  }

  .prfOlTranslations {
    margin-left: 2em;
  }
}
