@import '../../theme';

div.prf-about {
  padding-right: 0;
  padding-left: 0;
}

.prf-about {
  .card {
    .card-body {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
    }
  }

  .accordion {
    .accordion-item {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
    }

    .accordion-button:not(.collapsed) {
      color: var(--bs-secondary);
      background-color: var(--bs-card-bg);
    }

    .accordion-button.collapsed {
      color: var(--bs-body-color);
      background-color: var(--bs-card-bg);
    }
  }

  .prf-ul {
    list-style: none;
    margin: 0 2em;
    padding: 0;
  }


  .prf-qna {
    .prf-qna-item {
      margin: 1em 0;

      .prf-question {
        font-size: 120%;
        margin-bottom: 0.5em;
      }

      .prf-answer {
        margin-left: 2em;
      }

      .prf-question-mark,
      .prf-answer-mark {
        margin-right: 1em;
        vertical-align: text-bottom;
      }

      .prf-question-mark {
        color: var(--bs-primary);
      }

      .prf-answer-mark {
        color: var(--bs-secondary);
      }
    }
  }

  .prf-ol-translations {
    margin-left: 2em;
  }
}
