.ariph-download-title {
  display: flex;
  justify-content: space-between;
  max-width: 30em;

  .ariph-title {
    width: 22em;
  }
}

.ariph-download-per-book {
  display: flex;
  justify-content: space-between;
}
