.react-tabs__tab {
  background-color: var(--bgMaster);
  border-color: var(--bgSlave);

  &:hover {
    background-color: var(--bgSlave);;
  }
}

li.react-tabs__tab--selected {
  background-color: var(--bgSlave);
  border-color: var(--bgSlave);
  color: var(--fgMaster);

  &:hover {
    background-color: var(--bgSlave);
    cursor: not-allowed;
  }
}

.ariph-controls {
  .MuiButton-root {
    color: var(--fgSlave);
  }
}

