@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.prfSettings {
  .prfSettingsTab {
    padding: 1em;
  }

  :global {
    .nav-tabs {
      border-color: var(--bs-border);

      .nav-link.active,
      .nav-item.show .nav-link {
        color: var(--bs-active-color);
        background-color: var(--bs-active-bg);
        border-color: var(--bs-border);

        &:hover {
          color: var(--bs-active-color-hover);
        }
      }

      .nav-link {
        color: var(--bs-body-color);

        &:focus,
        &:hover {
          border-color: var(--bs-border);
        }

        &:hover {
          color: var(--bs-body-color-hover);
        }
      }
    }
  }
}
