@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.prfSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    margin: 1em 0;
  }

  .prfSettingsPicker {
    display: flex;

    width: 100%;
    justify-content: space-between;
  }

  .prfSettingsGroup {
    flex-wrap: wrap;
  }

  label.prfSettingsItem {
    flex: 50%;
  }

  :global {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      .react-colorful {
        width: 400px;
        height: 300px;
      }
    }
    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      .react-colorful {
        width: 200px;
        height: 200px;
      }
    }
  }
}
