@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.prfSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    margin: 1em 0;
  }

  .fluidRow {
    width: 100%;
  }

  .example {
    display: flex;
    flex-wrap: wrap;

    .exampleMain,
    .exampleMainHover,
    .exampleActive,
    .exampleActiveHover,
    .exampleCard,
    .exampleLink {
      width: 50%;
      padding: 1em;
    }

    .exampleMain {
      background-color: var(--bs-body-bg);
      color: var(--bs-body-color);

      &:hover {
        background-color: var(--bs-body-bg-hover);
        color: var(--bs-body-color-hover);
      }
    }

    .exampleMainHover {
      background-color: var(--bs-body-bg-hover);
      color: var(--bs-body-color-hover);
    }

    .exampleActive {
      background-color: var(--bs-component-active-bg);
      color: var(--bs-component-active-color);

      &:hover {
        background-color: var(--bs-component-active-bg-hover);
        color: var(--bs-component-active-color-hover);
      }
    }

    .exampleActiveHover {
      background-color: var(--bs-component-active-bg-hover);
      color: var(--bs-component-active-color-hover);
    }

    .exampleCard {
      background-color: var(--bs-card-bg);
      color: var(--bs-card-color);
    }

    .exampleLink {
      color: var(--bs-link-color);

      &:hover {
        color: var(--bs-link-hover-color);
      }
    }
  }

  .prfSettingsPicker {
    display: flex;

    width: 100%;
    justify-content: space-between;
  }

  .prfSettingsGroup {
    flex-wrap: wrap;
  }

  label.prfSettingsItem {
    flex: 50%;
  }

  :global {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      .react-colorful {
        width: 400px;
        height: 300px;
      }
    }
    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      .react-colorful {
        width: 200px;
        height: 200px;
      }
    }
  }
}
