.prfEditor {
  width:100%;

  .prfEditorPencil {
    color: var(--bs-card-color);

    margin-right: 1em;

    cursor: pointer;

    &:hover {
      color: var(--bs-selection);
    }
  }

  .prfEditorValidationText {
    background-color: var(--bs-danger);
    border-radius: 5px;
    padding: 1em;
  }

  .prfLoaderWrapper {
    position: relative;

    .prfEditor,
    .prfEditor:focus {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      border: 1px solid var(--bs-border);
    }

    .prfEditor:focus {
      box-shadow: 0 0 0 1px var(--bs-body-bg);
    }

    .prfEditorControlGroup {
      display: flex;
    }
  }


  :global {
    .prf-notes-link {
      color: var(--bs-selection);
    }
  }

}
