@import '../../theme';

.prf-editor-pencil {
  color: $primary;

  margin-right: 1em;

  cursor: pointer;

  &:hover {
    color: $secondary;
  }
}

.prf-editor-validation-text {
  color: $danger;
}

.prf-loader-wrapper {
  position: relative;

  .prf-editor,
  .prf-editor:focus {
    color: $body-color;
    background-color: lighten($body-bg, 5%);
    border: none;
  }

  .prf-editor:focus {
    box-shadow: 0 0 0 1px lighten($body-bg, 10%);
  }

  .prf-editor-control-group {
    display: flex;
  }
}
