@import '../../theme';

.prf-editor {
  .prf-editor-pencil {
    color: var(--bs-card-color);

    margin-right: 1em;

    cursor: pointer;

    &:hover {
      color: var(--bs-selection);
    }
  }

  .prf-editor-validation-text {
    color: var(--bs-danger);
  }

  .prf-loader-wrapper {
    position: relative;

    .prf-editor,
    .prf-editor:focus {
      color: var(--bs-body-color-hover);
      background-color: var(--bs-body-bg-hover);
      border: none;
    }

    .prf-editor:focus {
      box-shadow: 0 0 0 1px var(--bs-body-bg);
    }

    .prf-editor-control-group {
      display: flex;
    }
  }

}
