.prfEditor {
  .prfNotesLink {
    color: var(--bs-selection);
  }

  .prfEditorPencil {
    color: var(--bs-card-color);

    margin-right: 1em;

    cursor: pointer;

    &:hover {
      color: var(--bs-selection);
    }
  }

  .prfEditorValidationText {
    color: var(--bs-danger);
  }

  .prfLoaderWrapper {
    position: relative;

    .prfEditor,
    .prfEditor:focus {
      color: var(--bs-body-color-hover);
      background-color: var(--bs-body-bg-hover);
      border: none;
    }

    .prfEditor:focus {
      box-shadow: 0 0 0 1px var(--bs-body-bg);
    }

    .prfEditorControlGroup {
      display: flex;
    }
  }

}
