.root {
    .chapters-list {
        display: flex;

        padding: 0 1em;

        margin-top: 1em;
        border-bottom: 1px solid black;

        .chapter {
            flex: 1 1 30%;
        }

        .chapter.sticky {
            position: sticky;
            top: 0;
            align-self: flex-start;
        }
    }

    .book-title {
        flex: 1 1 25%;

        padding: 0 1em;
        width: 40%;

        margin-bottom: 2em;
    }
}
