.root {
    margin: 1em;
    
    .content {
        list-style: upper-roman;
    }
    
    .scroll-up-button {
        left: 0.7em !important;
        top: 5em !important;
    }
    
    .chapters-list {
        display: flex;

        padding: 0 1em;

        margin-top: 1em;
        border-bottom: 1px solid #999999;

        .chapter {
            flex: 1 1 30%;
        }

        .chapter.sticky {
            position: sticky;
            top: 0;
            align-self: flex-start;
            overflow-y: auto;
            max-height: 50em;
        }
    }

    .book-title {
        flex: 1 1 30%;

        padding: 0 1em;
        width: 40%;

        margin-bottom: 2em;

        text-decoration: underline;
        font-size: 150%;
    }

    .menu {
        ul {
            list-style: none;
        }
    }
    
    a {
        color: #649600;
        
        &:visited {
            color: #649600;
        }
    }
}
