.about {
  margin-left: 1em;
  display: flex;

  :first-child {
    flex-basis: 60%;
  }

  .chapter {
    margin-left: 2em;
    margin-bottom: 3em;
  }

  .faq {
    p {
      margin-left: 1em;
    }
  }

  .material-icons {
    font-size: 100%;
    margin-left: 1em;
    padding: 0.3em 1em;

    background-color: #222;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #333;
    }
  }

  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .material-icons {
      margin-right: 1em;

      transition: transform 0.8s;

      &:hover {
        transform: rotateY(180deg);
        transform-style: preserve-3d;
      }
    }

    >div {
      margin-bottom: 1em;
      width: 100%;
    }
  }
}
