@import '../../theme';

.prf-contacts {
  ul {
    padding: 0;

    li {
      margin: 0.5em 0;
    }
  }

  svg {
    margin: 0 0.5em;

    &:hover {
      color: var(--bs-selection);
      cursor: pointer;
    }
  }

  .prf-username {
    display: inline;

    font-size: 120%;
  }

  .prf-contacts-list {
    display: inline-flex;

    margin-left: 0.5em;
  }
}
